{
    "presets": [
        [
            "env",{
                "target": {
                    "browers": ["last 2 versions"]
                },
                "modules": false
            }
        ],
        "react"
    ]
}